* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atom {
    width: 50rem;
    height: 50rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orbita {
    width: 40rem;
    height: 40rem;
    border: 1rem solid #cc5486;
    border-radius: 20rem;
    position: absolute;
    box-shadow: 3rem 5rem #d47ca3;
}
.orbita:nth-child(1) {
    transform:  rotateY(100deg) rotateX(40deg);
}
.orbita:nth-child(2) {
    transform: rotateY(120deg) rotateX(80deg);
}
.orbita:nth-child(3) {
    transform: rotateY(100deg) rotateX(120deg);
}
.orbita:nth-child(4) {
    transform: rotateY(100deg) rotateX(160deg);
}
.electron {
    width: 5rem;
    height: 5rem;
    background-color: #d47ca3;
    border-radius: 20rem;
    position: relative;
    top: 10rem;
    left: 12rem;
}
.electron1 {
    width: 4rem;
    height: 4rem;
    background-color: #d47ca3;
    border-radius: 20rem;
    position: relative;
    top: -15rem;
    left: 5rem; 
}
.electron2 {
    width: 3rem;
    height: 3rem;
    background-color: #d47ca3;
    border-radius: 20rem;
    position: relative;
    top: -1rem;
    left: -15rem;
}
.electron3 {
    width: 3rem;
    height: 3rem;
    background-color: #d47ca3;
    border-radius: 20rem;
    position: relative;
    top: -3rem;
    left: 4rem;
}
.electron4 {
    width: 3rem;
    height: 3rem;
    background-color:#d47ca3;
    border-radius: 20rem;
    position: relative;
    top: 15rem;
    left: -11rem;
}
.nucleo {
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
    position: absolute;
    background: #d9a7c7; 
    background: -webkit-radial-gradient(#ffcfee , #d1aac3 ,#fffcdc); 
    background: radial-gradient(#ce69aa , #f8b4df ,#ffffff);
    box-shadow: 1rem 1rem 8rem 8rem rgb(250, 168, 243);
}
